<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<%if @user.posts.count >= 1 %>
  <%= render @user.posts %>
<% else %>
  <p><%= @user.name %> has not submitted any posts.</p>
<% end %>

<h2>Comments</h2>
<%if @user.comments.count >= 1 %>
  <%= render @user.comments %>
<% else %>
  <p><%= @user.name %> has not commented on any posts.</p>
<% end %>

<%if @user.favorites.count >= 1 %>
  <h2>Favorites</h2>
  <% @user.favorites.each do |favorite| %>
  <% link_to favorite.post.title, topic_post_path(favorite.post.topic, favorite.post) %>
  <% end %>
<% end %>
